#laptops button {
	background-color:white;
	border:none;
	color: #184474;
}
#laptops button:hover{
border : red solid 2px ;
margin:0;
}
.left {
	float: left;
	width: 155px;
}
.middle {
	float: left;
	width: 155px;
}

.right {
	float: left;
	width: 155px;
	
}
.form {

	padding-left: 10px;
	float: left;
	width: 150px;
	font-size: 12px;
	text-align: center;
	
}
input[type='range'] {
	text-align: center;
	vertical-align: middle;
	width: 150px;
}
.low {

	float: left;
}
.high {
	
	float: right;
}
 input[type='button'] {
	
   	border-top-left-radius: 10px;
   background-color: #2C425A;
   color: white;
   	margin-top: 10px;
	float: right;
	width: 90px;
	height: 30px;
}
#laptops {
	color: #184474;
	
}