
#result-table {
    border-collapse: collapse;

}
#result-table th,td {

    padding: 0;
    margin: 0;
    border: 1px ridge #000 ;



}


#content {
    font-family: "Droid Sans", "Lucida Grande", Tahoma, sans-serif;
}

#result-table th {
    height: 50px;
    font-size: 26px;
    background-color: #F8C711;
}

#result-table td {
    font-size: 18px;

}

#result-table select {
    height: 40px;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

td:nth-child(9) {
    width: 54px;
    height: 54px;

}



#result-table td:nth-child(1), td:nth-child(3) {

    width: 148px;
}

#result-table td:nth-child(2) {
    width: 92px;
}

#result-table td:nth-child(4) {
    width: 88px;

}

#result-table td:nth-child(5), td:nth-child(8) {
    width: 125px;

}

#result-table td:nth-child(7) {
    width: 115px;
}



#result-table td:nth-child(1), td:nth-child(5) {
    text-align: right;
    padding-right: 10px;
}

#result-table td:nth-child(2), td:nth-child(4), td:nth-child(7) {
    text-align: center;

}

#result-table td:nth-child(3), td:nth-child(8) {
    text-align: left;
    padding-left: 10px;
}

#result-table tr:nth-child(even) {
    background-color: white;
}

#result-table tr:nth-child(odd) {
    background-color: #C8C8C8;
}

#result-table tr:nth-child(1) {
    background-color: yellow;
}

.bet-bnred {
    text-align: center;
}

.bet-bnred input[type='submit'] {
    background-color: red;
    height: 40px;
    width: 40px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.red-submit select {
    color: red;
    background-color: #DCDCDC;
}

.red-submit td, select option {
    color: #000000;
}

.bet-bngreen {
    text-align: center;
}

.bet-bngreen input[type='submit'] {
    background-color: green;
    height: 40px;
    width: 40px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 100%;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.green-submit select {
    color: green;
    background-color: white;

}

.green-submit select option {
    color: #000000;
}

