label {
	display: inline-block;
}
h1 {
	color: #234465;
}
body {
	  font-family: 'PT Sans', Tahoma, sans-serif;
}
p {
	color:#666 ;
}
#sing-up {
	width:320px;
	height:320px;
	display:inline;
	border:none;
	box-sizing: border-box;

}
#sing-in {
	padding-top:28px;
	width:320px;
	height:280px;
	display:inline;
	border:none;
	box-sizing: border-box;
}
#sing-up div {
	color:#666;
	font-weight: bold;
}
#sing-up  span{
	color: #234465;
}
#sing-in {
	background-color:#234465;
	color:white;
}

#sing-up input[type='text'],input[type='email']{
	width: 300px;
	box-sizing: border-box;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 10px;
}
#sing-up input[type='password'] {
	width: 300px;
	box-sizing: border-box;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 10px;
}
#sing-up input[type='submit']{
	width:160px;
	height: 35px;
	border:2px;
	border-color: #234465;
	border-style:ridge;
	color: #234465;
	font-size: 18px;
	background-color: white;
	
}
#register {
	text-align: right;
	vertical-align: right;
}
#sing-in input[type='text'],input[type='password']{
	width: 300px;
	height: 40px;
	padding-left: 10px;
	margin-bottom: 10px;

}
#login {
	text-align: right;
} 
#login input[type='checkbox'] {
text-align: left;
vertical-align: left;
}
#login input[type='submit'] {
	height: 35px;
	width: 140px;
	font-size: 16px;
	background-color: #234465;
	border-color: orange;
	color:white;
}
#login a {
	text-align: right;
	vertical-align: right;color: white;
	padding-right: 25px;
	font-weight: normal;
	font-size: 12px;
}
#sing-in sup {
	font-size: 10px;
}
