 iframe {
	margin-left: 20px;
	border: ridge;
	border-color: yellow;
	float:left;
}
#content {
	color: yellow;
	background-color: black;
	height: 380px;
	width: 1000px;
	border-radius: 20px;
}
#content a {
	color: white;
	font-size: 40px;
	font-style: italic;
	display: inline-block;
	text-decoration: none;
}
#content header {
	text-align: center;

}
#content  h1 {
	font-size: 60px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#cars {
	float: left;
	margin-left:20px;

}